site/gulp-2.html
<!DOCTYPE html>
<!-- ilko.me-->
<!-- Ilkya Komichev-->
<html lang="ru">
	<head>
		<title>Frontend developer Ilya Komichev - ilko.me</title>
		<!-- meta -->
		<meta charset="utf-8">
		<meta name="format-detection" content="telephone=no">
		<!-- favicon -->
		<link rel="icon" type="image/png" href="favicon.png">
		<!-- viewport-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- styles -->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body class="l-body">
		<div class="ilkome js-ilkome">
			<div class="header">
				<div class="headerLogo">
					<div class="headerLogo-in"><a href="/" class="headerLogo-pic"></a></div>
				</div>
				<div class="headerInfo">
					<div class="headerInfo-ava"></div>
					<div class="headerInfo-name">Ilya Komichev</div>
					<div class="headerInfo-job">Hi. I'm a web developer and traveler.</div>
				</div>
			</div>
			<div class="l-content">
				<div class="l-row">
					<div class="box box_full">
						<div class="box-in">
							<div class="box-name box-name_extra">
								<h2>ilkome gulp</h2>
								<p>Fronend base template </p>
								<p>Version 2</p>
							</div>
							<div class="boxItem"> 
								<h3>What do you need</h3>
								<ol>
									<li>Nodejs</li>
									<li>Gulp</li>
									<li>Progect files</li>
								</ol>
							</div>
							<div class="boxItem">
								<h3>Instalation</h3>
								<ol class="is-padding-big">
									<li>
										 
										First install node.js via <a href="http://nodejs.org/">the download page</a>
									</li>
									<li>After installation finished restart your computer.</li>
									<li>
										 
										Run this command for install Gulp globaly:
										<pre><code>npm install gulp -g</code></pre>
									</li>
									<li>Now we're need to update modules. Open the progect folder and run this command:
										<pre><code>npm update</code></pre>
									</li>
								</ol>
								<p>All right! We're done with installation.</p>
							</div>
							<div class="boxItem">
								<h3>Run project</h3>
								<p>
									 
									In project folder run command:
									<pre><code>gulp</code></pre>
								</p>
							</div>
							<div class="boxItem">
								<h3>Information</h3>
								<p>See more in gulpfile.js</p>
							</div>
							<div class="boxItem">
								<h3>Structure</h3>
								<ul>
									<li> <strong>gulpfile.js - </strong>Gulp settings</li>
									<li> <strong>gulp-run.cmd - </strong>Run Gulp (only for Windows users)</li>
									<li><strong>site - </strong>compiled filed</li>
									<li><strong>source - </strong>sourses of jade and stylus</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="hireme">
					<div class="hireme-in"><a href="mailto:hi@ilko.me" class="btn-hire">I’m available for hire.</a></div>
				</div>
			</div>
		</div>
	</body>
	<!-- scripts -->
</html>

app/jade/gulp-2.jade
extends inc/layout

block append content
	.l-row
		.box.box_full
			.box-in
				.box-name.box-name_extra
					h2 ilkome gulp
					p Fronend base template 
					p Version 2
				
				.boxItem 
					h3 What do you need
					ol
						li Nodejs
						li Gulp
						li Progect files

				.boxItem
					h3 Instalation
					ol.is-padding-big
						li 
							| First install node.js via 
							a(href="http://nodejs.org/") the download page
						li After installation finished restart your computer.
						li 
							| Run this command for install Gulp globaly:
							pre: code npm install gulp -g
						li Now we're need to update modules. Open the progect folder and run this command:
							pre: code npm update
					p All right! We're done with installation.
				
				.boxItem
					h3 Run project
					p 
						| In project folder run command:
						pre: code gulp
				
				.boxItem
					h3 Information
					p See more in gulpfile.js
				
				.boxItem
					h3 Structure
					ul
						li 
							strong gulpfile.js - 
							| Gulp settings
						li 
							strong gulp-run.cmd - 
							| Run Gulp (only for Windows users)
						li
							strong site - 
							| compiled filed
						li
							strong source - 
							| sourses of jade and stylus
	
	include inc/hireme
