app/jade/index.jade
extends inc/layout

block append content
	.l-row
		.box.box_minheight
			.box-in
				.box-name 
					h2 Contacts
					p Let's chat with me
				ul
					li
						| Email: 
						strong hi@ilko.me
					li
						| Telegram, WhatsApp, Viber: 
						strong +79159760715
					li
						a(href="http://vk.com/ilkome") VK
						a(href="http://facebook.com/ilkome") Facebook
		.box.box_minheight
			.box-in
				.box-name 
					h2 Skills
					p I prefer to use best practices
				ul
					li HTML5, Jade
					li CSS, Stylus, Sass, Less
					li JavaScript, jQuery
					li ...more
		
	.l-row-full
		.box
			.box-in
				.box-name 
					h2 Portfolio
					p 
						| My latest works in the 
						a(href="https://bitbucket.org/ilkome") Bitbucket
				.boxItem 
					h3.is-nopadding GYEC
					p Landing page <br>JavaScripts: smart left menu and custom scrollbar
					.boxItem-links
						a(href="http://ilko.me/works/gyec/" target="_blank") Demo
						a(href="https://bitbucket.org/ilkome/gyec" target="_blank") Source
				.boxItem 
					h3.is-nopadding Big Data Project
					p Responsive fullscreen landing page with video
					.boxItem-links
						a(href="http://ilko.me/works/big-data-project/" target="_blank") Demo
						a(href="https://bitbucket.org/ilkome/big-data-project" target="_blank") Source

	.l-row
		.box
			.box-in
				.box-name 
					h2 Programs
					p What make my work better
				.boxItem Sublime Text, Photoshop, Avocode

		.box
			.box-in
				.box-name
					h2 Optimisation
					p I like to optimize my workflow
				.boxItem I use Gulp for make my work better.
		
	include inc/hireme

site/index.html
<!DOCTYPE html>
<!-- ilko.me-->
<!-- Ilkya Komichev-->
<html lang="ru">
	<head>
		<title>Frontend developer Ilya Komichev - ilko.me</title>
		<!-- meta -->
		<meta charset="utf-8">
		<meta name="format-detection" content="telephone=no">
		<!-- favicon -->
		<link rel="icon" type="image/png" href="favicon.png">
		<!-- viewport-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- styles -->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body class="l-body">
		<div class="ilkome js-ilkome">
			<div class="header">
				<div class="headerLogo">
					<div class="headerLogo-in"><a href="/" class="headerLogo-pic"></a></div>
				</div>
				<div class="headerInfo">
					<div class="headerInfo-ava"></div>
					<div class="headerInfo-name">Ilya Komichev</div>
					<div class="headerInfo-job">Hi. I'm a web developer and traveler.</div>
				</div>
			</div>
			<div class="l-content">
				<div class="l-row">
					<div class="box box_minheight">
						<div class="box-in">
							<div class="box-name"> 
								<h2>Contacts</h2>
								<p>Let's chat with me</p>
							</div>
							<ul>
								<li>Email: <strong>hi@ilko.me</strong></li>
								<li>Telegram, WhatsApp, Viber: <strong>+79159760715</strong></li>
								<li><a href="http://vk.com/ilkome">VK</a><a href="http://facebook.com/ilkome">Facebook</a></li>
							</ul>
						</div>
					</div>
					<div class="box box_minheight">
						<div class="box-in">
							<div class="box-name"> 
								<h2>Skills</h2>
								<p>I prefer to use best practices</p>
							</div>
							<ul>
								<li>HTML5, Jade</li>
								<li>CSS, Stylus, Sass, Less</li>
								<li>JavaScript, jQuery</li>
								<li>...more</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="l-row-full">
					<div class="box">
						<div class="box-in">
							<div class="box-name"> 
								<h2>Portfolio</h2>
								<p>
									 
									My latest works in the <a href="https://bitbucket.org/ilkome">Bitbucket</a>
								</p>
							</div>
							<div class="boxItem"> 
								<h3 class="is-nopadding">GYEC</h3>
								<p>Landing page <br>JavaScripts: smart left menu and custom scrollbar</p>
								<div class="boxItem-links"><a href="http://ilko.me/works/gyec/" target="_blank">Demo</a><a href="https://bitbucket.org/ilkome/gyec" target="_blank">Source</a></div>
							</div>
							<div class="boxItem"> 
								<h3 class="is-nopadding">Big Data Project</h3>
								<p>Responsive fullscreen landing page with video</p>
								<div class="boxItem-links"><a href="http://ilko.me/works/big-data-project/" target="_blank">Demo</a><a href="https://bitbucket.org/ilkome/big-data-project" target="_blank">Source</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="l-row">
					<div class="box">
						<div class="box-in">
							<div class="box-name"> 
								<h2>Programs</h2>
								<p>What make my work better</p>
							</div>
							<div class="boxItem">Sublime Text, Photoshop, Avocode</div>
						</div>
					</div>
					<div class="box">
						<div class="box-in">
							<div class="box-name">
								<h2>Optimisation</h2>
								<p>I like to optimize my workflow</p>
							</div>
							<div class="boxItem">I use Gulp for make my work better.</div>
						</div>
					</div>
				</div>
				<div class="hireme">
					<div class="hireme-in"><a href="mailto:hi@ilko.me" class="btn-hire">I’m available for hire.</a></div>
				</div>
			</div>
		</div>
	</body>
	<!-- scripts -->
</html>
